<!doctype html> 
<html> 
	<head>
		<title>This is addfood page</title>
	</head>
	<h1>please fill related data to add the food to database</h1>
	<body> 
		<form method="POST" action="foodadded">
			<input id="name" name="name" type="text" value="Food name">
			<input id="typicalValues" name="typicalValues" type="text" value="per:100">
			<br>
			<input id="typicalValueUnit" name="typicalValueUnit" type="text" value="gram">
			<input id="calories" name="calories" type="text" value="calories (381 kilocalories)">
			<br>
			<input id="carbs" name="carbs" type="text" value="carbs (3,2g)">
			<input id="fat" name="fat" type="text" value="fat (3.1g)">
			<br>
			<input id="protein" name="protein" type="text" value="protein (3.0g)">
			<input id="salt" name="salt" type="text" value="salt (2.9g)">
			<br>
			<input id="sugar" name="sugar" type="text" value="sugar (2.9g)">
			<input type="submit" value="Submit">	
		</form>
		<a href="./">Home</a>
	</body>
</html>
