<!doctype html> 
<html> 
	<head> 
		<title>This is register page</title>
	</head>
	<h1>Please fill this form to register</h1> 
	<body> 
		<p>Example paragraph.</p> 
		<form method="POST" action="/registered">
			<input id="username" type="text" name="username" value="Username" />
			<br>	
			<input id="password" type="text" name="password" value="Password" />
			<br>
			<input id="email" type="email" name="email" value="default@email" />
			<br> 
			<input id="firstname" type="text" name="firstname" value="firstname" />
			<br> 
			<input id="lastname" type="text" name="lastname" value="lastname" />
			<br> 
			<input type="submit" value="OK" /> 
		</form> 
	</body>
	<a href='./'>Home</a>
</html>
